<section class="provide-section">
  <div class="container">
    <div class="provide-container">
      <img
        src="./images/representative.jpg"
        alt="Six people team represents the Company"
        width="680"
      />
      <div class="provide-content">
        <p class="provide-subtitle">What you are looking for</p>
        <h2 class="provide-title">We provide bespoke solutions</h2>
        <p class="provide-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <button class="secondary-button" type="button">Read More</button>
      </div>
    </div>
  </div>
</section>
