<section class="blog-post-one">
  <div class="container blog-container">
    <div class="blog-post">
      <p class="time"><time datetime="2020-04-16">April 16 2020</time></p>
      <h2 class="section-name">Blog Post One</h2>
      <p class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="button-blog" type="button">Read Our Blog</button>
    </div>
    <img src="./images/blog-section-image.jpg" alt="job process" width="680" />
  </div>
</section>
