<section class="busines-cases">
    <div class="container busines-container">
      <p class="busines-cases-text">This is what we do</p>
      <h2 class="section-title section-title-center">Business Cases</h2>
      <p class="busines-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="list busines-list">
        <li>
          <img
            src="./images/busines-cases-1.jpg"
            alt="the team works at the table"
            width="320"
            height="214"
          />
        </li>
        <li>
          <img
            src="./images/busines-cases-2.jpg"
            alt="hand writes in a notebook"
            width="320"
            height="214"
          />
        </li>
        <li>
          <img
            src="./images/busines-cases-3.jpg"
            alt="shaking hands"
            width="320"
            height="214"
          />
        </li>
        <li>
          <img
            src="./images/busines-cases-4.jpg"
            alt="the team puts their hands together at the table"
            width="320"
            height="214"
          />
        </li>
        <li>
          <img
            src="./images/busines-cases-5.jpg"
            alt="working on a laptop"
            width="320"
            height="214"
          />
        </li>
        <li>
          <img
            src="./images/busines-cases-6.jpg"
            alt="view of skyscrapers from below"
            width="320"
            height="214"
          />
        </li>
        <li>
          <img
            src="./images/busines-cases-7.jpg"
            alt="team leader"
            width="320"
            height="214"
          />
        </li>
        <li>
          <img
            src="./images/busines-cases-8.jpg"
            alt="the team works on laptops"
            width="320"
            height="214"
          />
        </li>
      </ul>
    </div>
  </section>