<section class="callback-section">
  <div class="container callback-section__container">
    <img
      src="./images/request-callback-img.jpg"
      alt="The person leaves a feedback"
      width="680"
    />

    <div class="callback-section__box">
      <h2 class="section-title">Request Callback</h2>

      <form class="callback-form">
        <input
          class="callback-form__input"
          type="text"
          name="name"
          aria-label="user name"
          placeholder="Enter your name"
        />

        <input
          class="callback-form__input"
          type="email"
          name="email"
          aria-label="email"
          placeholder="Enter email*"
        />

        <button class="callback-form__btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
