<section class="section section__team">
  <div class="container team__container">
    <p class="team__text">Who we are</p>
    <h2 class="team__title section-title-center">Our Professional Team</h2>
    <p class="section__descr">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="team__list">
      <li class="team__item">
        <!-- <img class="team__img" src="./images/foto1.jpg" alt="man in a jacket" width="420" /> -->
        <picture>
          <source srcset="
                                   ./images/team-1360-1@1x.jpg 1x,
                                  ./images/team-1360-1@2x.jpg 2x
                                     " media="(min-width: 1360px)" />


          <source srcset="
                                 ./images/team-768-1@1x.jpg 1x,
                                ./images/team-768-2@2x.jpg 2x
                                 " media="(min-width: 768px)" />

          <source srcset="
                                ./images/team-320-foto1@1x.jpg 1x,
                                ./images/team-320-foto1@2x.jpg 2x
                                                  " />
          <img src="./images/team-320-foto1@1x.jpg" alt="man in a jacke" />
        </picture>
        <h3 class="team__name">John Doe</h3>
        <p class="team__descr">President</p>
        <ul class="soc__list">
          <li class="soc__item">
            <svg width="35" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="35" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="40" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="31" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>

      </li>
      <li class="team__item"> <!--x<img class="team__img" src="./images/foto2.jpg" alt="Beautiful girl" width="420" />
        -->
        <picture>
          <source srcset="
                                               ./images/team-1360-2@1x.jpg 1x,
                                              ./images/team-1360-2@2x.jpg 2x
                                                 " media="(min-width: 1360px)" />

          <source srcset="
                                             ./images/team-768-2@1x.jpg 1x,
                                            ./images/team-768-2@2x.jpg 2x
                                             " media="(min-width: 768px)" />

          <source srcset="
                                            ./images/team-320-foto2@1x.jpg 1x,
                                            ./images/team-320-foto2@2x.jpg 2x
                                                              " />
          <img src="./images/team-320-foto2@1x.jpg" alt="beautiful girl" />
        </picture>

        <h3 class="team__name">Jane Doe</h3>
        <p class="team__descr">Vice President</p>
        <ul class="soc__list">
          <li class="soc__item">
            <svg width="35" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="35" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="40" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="31" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>

      </li>
      <li class="team__item">
        <!-- <img class="team__img" src="./images/foto3.jpg" alt="man working on laptop" width="420" /> -->
        <picture>
          <source srcset="
                            ./images/team-1360-3@1x.jpg 1x,
                           ./images/team-1360-3@2x.jpg 2x
                       " media="(min-width: 1360px)" />

          <source srcset="
                             ./images/team-768-3@1x.jpg 1x,
                            ./images/team-768-3@2x.jpg 2x
                             " media="(min-width: 768px)" />

          <source srcset="
                              ./images/team-320-foto3@1x.jpg 1x,
                              ./images/team-320-foto3@2x.jpg 2x
                                                                        " />
          <img src="./images/team-320-foto3@1x.jpg" alt="beautiful girl" />
        </picture>
        <h3 class="team__name">Steve Smith</h3>
        <p class="team__descr">Marketing Head</p>
        <ul class="soc__list">
          <li class="soc__item">
            <svg width="35" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="35" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="40" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="soc__item">
            <svg width="31" height="35" class="soc__icon">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>