<section class="section section-team">
  <div class="container team-container">
    <p class="team-container-text">Who we are</p>
    <h2 class="section-title section-title-center">Our Professional Team</h2>
    <p class="section-descr">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img
          class="team-img"
          src="./images/foto1.jpg"
          alt="man in a jacket"
          width="420"
        />

        <h3 class="team-title">John Doe</h3>
        <p class="team-descr">President</p>
        <ul class="soc-list list">
          <li class="team-item">
            <svg width="35" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="35" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="40" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="31" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          src="./images/foto2.jpg"
          alt="Beautiful girl"
          width="420"
        />

        <h3 class="team-title">Jane Doe</h3>
        <p class="team-descr">Vice President</p>
        <ul class="soc-list list">
          <li class="team-item">
            <svg width="35" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="35" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="40" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="31" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          src="./images/foto3.jpg"
          alt="man working on laptop"
          width="420"
        />

        <h3 class="team-title">Steve Smith</h3>
        <p class="team-descr">Marketing Head</p>
        <ul class="soc-list list">
          <li class="team-item">
            <svg width="35" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="35" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="40" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </li>
          <li class="team-item">
            <svg width="31" height="35" class="team-icon">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
