.provide-container {
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.provide-content {
  max-width: 680px;
  padding: 20px 44px 20px 30px;
  color: var(--secondary-color);
}

.provide-subtitle {
  font-size: 20px;
  line-height: 1.65;
  margin-top: 0;
  margin-bottom: 5px;
}
.provide-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-top: 0;
  margin-bottom: 26px;
}
.provide-text {
  margin-top: 0;
  margin-bottom: 17px;
}

.secondary-button {
  @include button(var(--secondary-bg-color));
  // background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  line-height: 1.56;
  border: 1px solid #ffffff;
  // border-radius: 5px;
  padding: 11px 27px 12px 42px;
  width: 167px;
  height: 50px;
  // cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--button-active-green);
  box-shadow: var(--shadow-btn);
}
