.blog-post {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  &__section {
    margin: 0;
    padding: 20px 44px 20px 30px;
    color: var(--primary-bg-color);
    max-width: 680px;
    justify-content: space-between;
  }

  &__time {
    margin: 0;
    font-size: 20px;
    line-height: 1.65;
  }

  &__name {
    margin: 0;
    font-size: 38px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1.26;
  }

  &__text {
    margin-top: 26px;
    margin-bottom: 0;
    width: 606px;
  }
}

.blog-container {
  display: flex;
  align-items: center;
  background-color: var(--bg-color-blog-section);
}

.button-blog {
  background-color: var(--bg-color-blog-section);
  display: inline-block;
  margin-top: 17px;
  padding: 10px 35px 10px 35px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    background-color: var(--button-active-blue);
    box-shadow: var(--shadow-btn);
  }
}
