.busines-cases {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .busines-container {
    padding-left: 28px;
    padding-right: 28px;
  }
  
  .busines-cases-text {
    font-size: 20px;
    line-height: 1.65;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .busines-text {
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  .busines-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }