.header {
  width: 100%;
  /* position: absolute;
        left: 0;
        top: 0; */
}
.header__container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 48px;
  max-width: 1360px;
  padding-top: 5px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  font-size: 35px;
  line-height: calc(42 / 35);
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  text-decoration: none;
}

.logo__icon {
  display: block;
  fill: var(--secondary-bg-color);
  margin-right: 10px;
}

.logo__span {
  display: block;
  color: var(--secondary-bg-color);
  margin-right: 10px;
}

.header__list {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 38px;
  color: var(--secondary-color);
  list-style: none;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.heder__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 16px;
  padding-top: 16px;
  display: block;
  transition: color var(--time) var(--cubic);
}

.heder__link:hover,
.heder__link:focus {
  color: var(--button-active-green);
}

.heder__link::after,
.heder__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--button-active-green);
  transition: transform var(--time);
  transform: scaleX(0);
  transform-origin: right;
}

.heder__link:hover::after,
.heder__link:focus::after {
  transform-origin: left;
  transform: scaleX(1);
}
